@using PagedList.Mvc
@using Pokemon.Models
@{
    ViewBag.Title = " Details";
}

@model DetailsModel

<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
@using (Html.BeginForm())
{
    <center>
        <h2>Pokemon Details</h2>
        <div style="border:1px solid
red; margin-left:25%; margin-right:20%">
            <table style="width:100%" border="1">



                <tr style="border:1px solid
red">

                    @foreach (var product in Model.Abilities)
                    {
                        <td colspan="2" style="border-color:transparent;">



                            <span>@product.Ability.name</span><br />

                            <span>@product.Ability.url</span><br />

                        </td>
                    }



                </tr>
            </table>

        </div>
    </center>
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>

    </div>

}